@model Basha.Models.flowerDisc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>flowerDisc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FlowerName.FlowerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlowerName.FlowerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fcolor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fcolor)
        </dd>

    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
//    <input name="btnGetMovies" id="btnGetMovies" type="submit" value="Get Movies">
    <ul id="movieList" style=" color :blue;" > <li style=" color :magenta ; width:200px;"   ></li> <li style=" color :magenta ; width:200px;"></li>  </ul>
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    //$("#btnGetMovies").click(function () {
     $(function () {
        var actionUrl = '@Url.Action("MGetflowers", "flowerdiscs", new {id=@Model.FlowerId})';
        $.getJSON(actionUrl, displayData);
    });
    function displayData(response) {
        if (response != null) {
            for (var i = 0; i < response.length; i++) {
                $("#movieList").append("<li>" + response[i].fcolor + " " + response[i].FlowerName.FlowerName + "</li>")
            }
        }
    }
</script>


<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.flowerDiscId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
